



.parent-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%; 
  height: 100%;
  background-image: url('https://res.cloudinary.com/dznumjlzc/image/upload/v1715964723/gymcode/background/3_gvgsgl.png');
  background-size: cover;   
  opacity: 0.5; 
  z-index: -1; 
}

.routine-detail-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(249, 249, 249, 0.8); 
  border-color: #0578c5;
  border-width: 5px;
  width: 750px;
  height: auto;
  z-index: 1; 
}

.super-container-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px; 
}

.routine-detail-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-color: #0578c5;
  border-width: 5px;
  width: 750px;
  height: auto;
}

.routine-detail-container h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.routine-detail-container p {
  font-size: 1.2em;
  margin: 5px 0;
}

.routine-detail-container .rounded-pill {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}


.routine-detail-container button:hover {
  background-color: #0056b3;
}

.routine-detail-container .exercise-section {
  margin-top: 20px;
}

.exercise-section p {
  margin: 5px 0;
}

.exercise-section .equipment {
  display: flex;
  flex-wrap: wrap;
}

.exercise-section .equipment div {
  margin: 5px;
}

.span-routine-detail span{
  background: #b2b2fd;
  color: #1a41cd;
  font-weight: bold;
  padding: 7px;
  border-radius: 15px;
  font-size: 15px;
  letter-spacing: -0.6px;
  -webkit-line-clamp: 2;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.table th, .table td {
  padding: 12px;
  border: 1px solid #aed1ff;
}

.table th {
  background-color: #f2f2f2;
}

.routine-detail-container .rounded-pill  {
  display: flex;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 5px 0;
  justify-content: center;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.sub-button {
  border: 1px solid black;
  padding: 12px 30px 12px 30px;
  border-radius: 30px;
  background-color: #007bff;
  font-weight: bolder;
  font-size: 15px;
  -webkit-box-shadow: 0px 0px 1px;
  box-shadow: 0px 0px 1px;
  -webkit-transform: all 2s esase;
  -ms-transform: all 2s esase;
  transform: all 2s esase;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: white;

}
.sub-button:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 7px 1px rgb(0, 0, 0);
  box-shadow: 0px 7px 1px rgb(0, 0, 0);
  border: 1px solid black;
}

.sub-button:active {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-box-shadow: 0px 0px 1px;
  box-shadow: 0px 0px 1px;
}
  
.container-button {
  text-align: center;
}

