.routines-list-container {
  padding: 20px;
  margin: 20px auto;
  max-width: 1200px;
}
  
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
  
.col {
  flex: 1 0 30%;
  max-width: 30%;
  min-width: 250px;
  margin-bottom: 20px;
  text-decoration: none;
}
  
  .routine-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .routine-item img {
    max-width: 100%;
    height: auto;
  }
  
  .routine-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .routine-item p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .text-decoration-none {
    text-decoration: none;
    color: inherit;
  }
  



@media (max-width: 768px) {
  .col {
      flex: 1 0 45%;
      max-width: 45%;
  }
}

@media (max-width: 480px) {
  .col {
      flex: 1 0 90%;
      max-width: 90%;
  }
}

