.coaches-list-container {
  padding: 20px;
  margin: 20px auto;
  max-width: 1200px;

}
  
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
  
.col {
  flex: 1 0 30%;
  max-width: 30%;
  min-width: 250px;
  margin-bottom: 20px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .col {
      flex: 1 0 45%;
      max-width: 45%;
  }
}

@media (max-width: 480px) {
  .col {
      flex: 1 0 90%;
      max-width: 90%;
  }
}