.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    width: 15rem;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 50%; 
    object-fit: cover;
    object-position: center;
    padding: 25px; 
}

.card-body {
    padding: 1.25rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: justify;

}

.card-text {
    font-size: 1rem;
    color: #6c757d;
    text-align: justify;
}
