
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    height: auto;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .is-invalid {
    border-color: #dc3545 !important;
  }
  
  .btn-success {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  