.custom-navbar {
    background-color: #3896b9;
   
}

.navbar {
    --bs-navbar-color: #fff;
}

.navbar-logo {
    background-image: url('src/assets/img/navbar/gymcodeicon.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    color: transparent;
    text-shadow: none;
}

.offcanvas {
    background-color: #3896b9;
    color: white;
}

.nav-link i {
    vertical-align: middle; 
    height: 20px; 
    font-size: 20px;
    color:#fff;
  }
  
  .navbar-nav .nav-link {
    font-weight: bold;
  }
  